

.header-nav {
  margin: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo > a {
  color: #000000;
  text-decoration: none;
}

.header-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav > div ul li {
  float: left;
  padding: 0.5rem;
  line-height: 30px;
}

.header-nav > div ul {
  float: right;
  list-style: none;
  padding: 0;
}

.header-nav>div button {
  float: right;
  padding: 0;
}

.header-logo {
  font-size: 24px;
  width: 118.95px;
  height: 24px;
  font-weight: bolder;
}

ul li {
  margin: 0 24px;
  font-size: 1.1rem;
}

ul li label{
  cursor: pointer;
}

button {
  position: static;
  width: fit-content;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
  flex: none;
  flex-grow: 0;
  margin: 0px 6px;
  min-width: 100px;
  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  transition: background-color 0.3s ease; 
}

.button-login {
  background: rgb(255, 255, 255);
}


.button-login:hover {
  background-color: #f0f0f0;
}

.button-login:active {
  background-color: #e0e0e0;
}

.button-sign-up, .button-claim {
  background: rgb(29, 30, 28);
  color: white;
}

.button-sign-up:hover, .button-claim:hover {
  background-color:#333;
}

.button-sign-up:active, .button-claim:active {
  background-color: #666;
}

 
/* hero section */
.hero {
  width: inherit;
  height: inherit;
}

.hero-article-text > h1{
  color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 4rem;
    font-weight: 35rem;
    letter-spacing: 0%;
    text-align: left;
    /* Heading */
    position: static;
    width: 100%;
    
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.hero-article-text > p {
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
  width: 75%;
}

.hero-article {
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

.hero-article-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  overflow-wrap: break-word;
}

/* Social Proof Section */
.social-proof {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.social-title {
  color: gray;
}